@import url("./reset.css");
@import url("./preview.css");

html,
body {
  height: 100%;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
