@import url("./reset.css");
@import url("./preset.css");
@import url("./preview.css");
@import url("./share_links.css");

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  padding: var(--space-2);

  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height-body);
  font-family: var(--font-family);
  background-color: var(--light-grayish-blue);
}

main {
  position: relative;
}

h1 {
  font: var(--font-1);
  color: var(--very-dark-grayish-blue);
}

p {
  font: var(--font-2);
  color: var(--desaturated-dark-blue);
}

strong {
  color: var(--very-dark-grayish-blue);
}

time {
  color: var(--grayish-blue);
}
