.preview {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #fff;
  max-width: 50em;

  border-radius: 1em;
  overflow: hidden;
}

.preview picture {
  align-self: stretch;
}

.preview article {
  display: flex;
  flex-flow: column wrap;
  gap: var(--space-1);
  padding: var(--space-2);
  max-width: 100%;
}

.preview img[alt="article preview"] {
  object-fit: cover;
  height: 100%;
}

.preview footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preview figure {
  display: flex;
  align-items: center;
}

.preview img[alt="avatar"] {
  margin-inline-end: var(--space-1);
  max-width: 3em;
  border-radius: 100%;
}

.preview button {
  align-content: end;
}

@media (width >= 32em) {
  .preview {
    flex-flow: row;
  }

  .preview article {
    max-width: 32em;
  }
}
