.share-links {
  position: relative;
}

.share-links [aria-label="share-button"] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border: none;
  border-radius: 100%;
}

.share-links [aria-label="links-menu"] {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(-100% - 1em)) translateX(-50%);

  width: 8em;

  background-color: grey;
}

.share-links [aria-hidden="true"] {
  visibility: hidden;
}

.share-links [aria-pressed="true"] {
  background-color: grey;
}
